div{
    margin: 20px;
}
h1{
    text-align: center;
}
body{
	background-color: #fdfdbb;
}
span{
	color: #0000ff;
}
a{
	color: #ff0000;
	text-decoration: none;
}
h5{
	position: fixed;
	width: 100%;
	bottom: 0px;
	text-align: center;
}